# Dependency directories
node_modules/

# Next.js build output
.next/

# Static export
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS or Editor specific files
.DS_Store
.vscode/

# Environment variables
.env
